body.login {
	background: url(https://www.mementor.no/bilder/customer-login.jpg) no-repeat center;
	background-size: cover;
}
.login h1 {
	margin: 0;
	height: 100px;
	background: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 5px 5px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.login h1 a {
	background: url(../images/logo_element.png) no-repeat center;
	background-size: auto 60%;
	background-position: center;
	position: absolute;
	width: 100%;
	display: table;
	height: 100px;
}
body.login .custom-login-form #lostpasswordform,
body.login .custom-login-form #loginform {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
	padding: 120px 0 0;
	margin: 0;
	overflow: visible;
}
#lostpasswordform p,
#loginform p {
	padding: 0 25px;
}
body.login .custom-login-form #lostpasswordform p.submit,
body.login .custom-login-form #loginform p.submit {
	background: #161e2c;
	padding: 0;
	border: none;
	width: 100%;
	margin: 70px 0px 0px;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	transition: .4s;
	display: table;
	position: relative;
}
body.login .custom-login-form #loginform p.submit {
	margin: 45px 0px 0px;
}
#lostpasswordform p.submit:after,
#loginform p.submit:after {
	content: "\f105";
	font-family: 'Fontawesome';
	color: #fff;
	font-size: 17px;
	border: 2px solid #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	cursor: pointer;
	transition: .4s;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 50%;
	margin: -20px auto 0;
	z-index: 1;
}
#lostpasswordform p.submit:hover:after ,
#loginform p.submit:hover:after {
	transform: scale(0.9);
	transition: .4s;
}
#lostpasswordform input[type="submit"] ,
#loginform p.submit input[type="submit"] {
	width: 100%;
	height: 80px;
	background: transparent;
	border: none;
	box-shadow: none;
	text-shadow: none;
	position: relative;
	opacity: 0;
	z-index: 11;
}
body.login .custom-login-form #lostpasswordform input[type="text"] ,
body.login .custom-login-form #loginform input[type="text"] ,
body.login .custom-login-form #loginform input[type="password"] {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 15px 0 55px;
	height: 40px;
	font-size: 13px;
	border-radius: 3px;
	color: #000;
	width: 100%;
	transition: .4s;
	box-shadow: none;
}
#lostpasswordform input[type="text"]:focus ,
#loginform input[type="text"]:focus ,
#loginform input[type="password"]:focus {
	background-color: #f9f9f9;
	transition: .4s;
}
#loginform p {
	position: relative;
}
body.login .custom-login-form #lostpasswordform p label[for="user_login"] ,
body.login .custom-login-form #loginform p label[for="user_pass"],
body.login .custom-login-form #loginform p label[for="user_login"] {
	font-size: 0px;
	position: relative;
	margin-top: 0px;
	display: block;
}
#lostpasswordform p label[for="user_login"]:before ,
#loginform p label[for="user_pass"]:before ,
#loginform p label[for="user_login"]:before {
	content: "";
	background: #f1f1f1;
	border-right: 1px solid #e5e5e5;
  width: 40px;
  height: 38px;
  top: 3px;
  left: 1px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  z-index: 1;
}
body.login .custom-login-form #lostpasswordform + #nav + #backtoblog {
  margin-top: -35px;
  width: 100%;
  text-align: center;
  padding: 0;
  position: relative;
  left: 5px;
	z-index: 11;
}
#lostpasswordform + #nav {
  position: relative;
  top: -357px;
  left: -13px;
  z-index: 77;
  width: 20px;
}
#lostpasswordform + #nav a {
	background: #fff;
	width: 30px;
	height: 30px;
	line-height: 0;
	display: table;
	padding: 0;
	position: relative;
	font-size: 0px;
	border-radius: 50%;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
#lostpasswordform + #nav a:before {
	content: "\f060";
	font-size: 12px;
	color: #000;
	font-family: 'Fontawesome';
	position: absolute;
	top: 0;
	left: 0;
	line-height: 30px;
	padding-left: 10px;
}
#lostpasswordform p label[for="user_login"]:after ,
#loginform p label[for="user_login"]:after {
	content: "\f003";
	font-family: 'Fontawesome';
  width: 40px;
  height: 38px;
  top: 3px;
  left: 1px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  position: absolute;
  z-index: 2;
}
#loginform p label[for="user_pass"]:after {
	content: "\f023 ";
	font-family: 'Fontawesome';
  width: 40px;
  height: 38px;
  top: 3px;
  left: 1px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  position: absolute;
  z-index: 2;
}
#loginform + #nav {
  top: -115px;
  position: relative;
  z-index: 44;
  text-align: center;
  margin: 0;
}
body.login .custom-login-form #lostpasswordform + #nav a ,
body.login .custom-login-form #backtoblog a {
  color: #fff;
}

body.login .custom-login-form #loginform + #nav + script + #backtoblog {
  margin-top: 0px;
  width: 100%;
  text-align: center;
  padding: 0;
}
body.login .custom-login-form #backtoblog a {
  color: #fff;
}
#login {
  width: 320px;
  padding: 0;
  position: relative;
  margin: 8% auto 0;
}
.login #login_error, .login .message {
  border: none;
  padding: 12px;
  margin-left: 0;
  margin-bottom: 0px;
  background-color: #fff;
  color: #fff;
}
.login #login_error a , .login .message a {
	color: #fff;
}
.login #login_error {
  background: #dc3232;
}
body.login .custom-login-form #login .message {
  background: #83c373;
  position: relative;
  top: 100px;
}
body.login .custom-login-form #lostpasswordform p.submit {
	margin-top: 5px;
}
body.login .custom-login-form a {
	border: 0;
	outline: none;
	box-shadow: none;
}
.forgetmenot {
	position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
a.ywsl-social {
	background: #395993;
	width: calc(100% - 55px);
	display: table;
	position: relative;
	border-radius: 3px;
	padding-left: 55px;
	height: 40px;
	overflow: hidden;
}
a.ywsl-social:before {
	content: "LOGG INN MED FACEBOOK";
	color: #fff;
	line-height: 40px;
	font-size: 11px;
}
a.ywsl-social:after {
	content: "\f09a";
  font-family: 'Fontawesome';
  background: #283e67;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
a.ywsl-social img {
	position: absolute;
	top: 0;
	left: 0;
  opacity: 0;
}
body.login .custom-login-form #loginform .ywsl-label {
	font-size: 0px;
	width: 100%;
	text-align: center;
	display: table;
	width: calc(100% - 45px);
	margin-bottom: 10px;
}
.ywsl-label:before {
	content: "eller";
	font-size: 13px;
}
#wp-auth-check-wrap #wp-auth-check {
	padding: 0px 0 0;
}
#wp-auth-check-wrap #wp-auth-check-form {
  height: calc(100% + 11px);
}
.interim-login #login_error, .interim-login.login .message {
  margin: 0;
}
body.wp-admin .interim-login.login h1 a {
  width: 100%;
  left: 0;
  right: 0;
}
body.wp-admin .interim-login #loginform p.submit {
  margin: 16px 0px 0px;
}
.interim-login #login {
  position: relative;
  top: 35px;
}
#wp-auth-check-wrap #wp-auth-check {
  background-color: transparent;
  border-radius: 5px;
}
#wp-auth-check-wrap .wp-auth-check-close {
  color: #fff;
  z-index: 44;
}
@media only screen and (min-width: 420px) and (max-width: 767px) {
	#wp-auth-check-wrap #wp-auth-check-form iframe {
		background: url(../images/default-bg.jpg) no-repeat center;
    background-size: cover;
	}
}
.interim-login.login #login h1 {
  top: 0px;
}
.interim-login #login_error, .interim-login.login .message {
  position: relative;
  top: 163px;
}
.interim-login.login #loginform {
  margin-top: -63px;
  padding:181px 0 0
}
.interim-login #login_error, .interim-login.login .message {
  position: relative;
  top: 100px;
}
.interim-login.login h1 a {
  width: auto;
  margin: 0 auto;
	display: table;
  float: none;
  left: 0;
  right: 0;
  position: relative;
}
.interim-login #login {
  padding: 0;
  margin: -4px auto 20px;
}
